@value blueLightPurple: #5081f1;
@value blueGreen: #39bae8;
@value mainBlack: #454545;
@value white: #FFF;
@value mainGreen: #b7cb72;
@value blueLight: #dcebf0;

$blueGreen: #39bae8;
$blueLight: #5081f1;
$mainBlack: #454545;
$white: #fff;

:root {
  --blueGreen: #39bae8;
  --mainGreen:  #b7cb72;
  --mainBlack: #454545;
}
