.calculator {
  margin-bottom: 2.5rem;
  font-size: .9rem;

  &::after {
    clear: both;
    display: block;
    content: " ";
  }

  .title {
    color: var(--white);
    font-weight: 600;
    font-size: 0.94em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    text-indent: 0px;
    padding-bottom: 5px;
    flex: 1 0 100%;
  }

  .inputControl {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    & > div {
      flex: 1 0 10%;

      & + div {
        margin-left: 10px;
      }
    }
  }
}

.grow {
  flex-grow: 2 !important;
}

.grid {
  color: var(--mainBlack);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px 20px;
  margin-bottom: 25px;
}

.inputCells {
  border-radius: .6em !important;
  height: var(--calc-height-input) !important;
  //width: var(--calc-width-input);
  font-size: .88em !important;
  color:var(--mainBlack);
  text-align: left !important;
  font-weight: 400 !important;
  &::placeholder {
    color: inherit;
    font-weight: 400;
    opacity: 1;
  }
}

.select {
  & > div {
    border: 0;
    border-radius: .6em;
    font-size: .88em;
    min-height: var(--calc-height-input);
  }
}

.homeFenceSelect {
  position: absolute !important;
  right: 50px;
  bottom: 15px;
  width: 210px;
}


.fullRow {
  grid-column-start: 1;
  grid-column-end: 3;
}

.total {
  font-weight: 600;
  font-size: 1.5em;
  float: left;

  span {
    font-size: 150%;
    margin-left: 5px;
  }
}

.calculateButton {
  background: var(--blueGreen);
  font-size: .95em;
  color: var(--white);
  width: 160px;
  height: 50px;
  padding: .85em 1em;
  border-radius: .6em;
  float: right;
}

.homeMockup {
  position: relative;
  height: calc(100% - 2.5rem);
  margin-bottom: 2.5rem;
  padding-top: 33px;
}

.homeFence {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 95%;
}



.buttonTip {
  outline: none !important;
  background-color: #f0f0f0;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAABmJLR0QA/wD/AP+gvaeTAAAAcUlEQVQYlZ3OsQmDUBQF0IMEAg5gmQ0kgkUgM4R0zmAXMoOlC9i5jWUmcIMQsoFoYyU/X8itHpcD7/JHDujwwRc9jiFYY8IDLWY8Q7DAbb3PK2xiEy5444UsBkcMSGMI7si3ZRKAJU57MEGF697bn1kAa4cOIQ9za8AAAAAASUVORK5CYII=");
  border: 0;
  color: #000;
  font-size: 8px;
  width: 17px;
  height: 17px;
  text-align: center;
  border-radius: 50%;
  padding-top: 2px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -5px;
  right: -5px;
}
.buttonTipWithTitle {
  right: 0;
  top: 5px;
}

.label {
  color: #fff;
  margin-right: 5px;
  padding-bottom: 7px;
  vertical-align: top;
  line-height: 1.2;
  display: inline-block;
}


@media (max-width: 992px) {
  .calculator {
    font-size: 1rem;
  }
  .grid {
    display: block;
  }
  .inputControl {
    margin-bottom: 15px;
  }
  :root {
    --calc-height-input: 35px;
  }
  .calculateButton {
    height: auto;
  }
  .homeFenceSelect {
    display: none;
  }
}

.smallDropDown {
  [class*="-menu"] {
    min-width: 180px;
  }
}
.nowrap {
  * {
    white-space: nowrap;
  }
}